[project]
name = "bdb-26"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "numpy>=2.3.4",
    "polars>=1.34.0",
    "scipy>=1.16.2",
]
